<% layout("/layouts/boilerplate.ejs") %>
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <h3>Create a New Listing</h3>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" id="title" class="form-control"
                        placeholder="add a catchy title" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" id="description" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" id="image"
                        placeholder="enter image URL/Link" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" class="form-control" id="price" placeholder="1200"
                            required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control" id="location"
                            placeholder="Ahmedabad, Gujarat" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-12">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" id="country" placeholder="India"
                            required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                <button class="btn add-btn mb-3 mt-2">add</button>
            </form>
        </div>
    </div>